/Data Structures/C#/Lists/obj/Debug/netcoreapp3.1/Lists.AssemblyInfoInputs.cache
/Data Structures/C#/Lists/obj/Debug/netcoreapp3.1/Lists.assets.cache
/Data Structures/C#/Lists/obj/Debug/netcoreapp3.1/Lists.csproj.CoreCompileInputs.cache
/Data Structures/C#/Lists/obj/Debug/netcoreapp3.1/Lists.csprojAssemblyReference.cache
/Data Structures/C#/Lists/obj/Debug/netcoreapp3.1/Lists.genruntimeconfig.cache
/Data Structures/C#/Lists/obj/project.nuget.cache
/Data Structures/C#/Lists/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Data Structures/C#/Lists/obj/Debug/netcoreapp3.1/Lists.AssemblyInfo.cs
/Data Structures/.vscode/launch.json
/Data Structures/.vscode/tasks.json
/Data Structures/C#/Lists/bin/Debug/netcoreapp3.1/Lists.deps.json
/Data Structures/C#/Lists/bin/Debug/netcoreapp3.1/Lists.runtimeconfig.dev.json
/Data Structures/C#/Lists/bin/Debug/netcoreapp3.1/Lists.runtimeconfig.json
/Data Structures/C#/Lists/obj/Lists.csproj.nuget.dgspec.json
/Data Structures/C#/Lists/obj/project.assets.json
/Data Structures/C#/Lists/bin/Debug/netcoreapp3.1/Lists.pdb
/Data Structures/C#/Lists/obj/Debug/netcoreapp3.1/Lists.pdb
/Data Structures/C#/Lists/obj/Lists.csproj.nuget.g.props
/Data Structures/C#/Lists/.vs/Lists/v16/.suo
/Data Structures/C#/Lists/obj/Lists.csproj.nuget.g.targets
/Data Structures/C#/Lists/obj/Debug/netcoreapp3.1/Lists.csproj.FileListAbsolute.txt
